@page "/explore-data"
@inject IJSRuntime JSRuntime
@inherits ComponentBase

<AuthorizeView>
    <Authorized>
        <section class="flex flex-col p-4 w-full">
            <RadzenBreadCrumb>
                <RadzenBreadCrumbItem Path="/" Text="Home" />
                <RadzenBreadCrumbItem Icon="" Text="Data Explorer" />
            </RadzenBreadCrumb>
            
            <div class="flex flex-col">
                <h1 class="text-2xl font-bold leading-loose">Explore Data</h1>
                <h2 class="leading-loose">Select the data type you want to view.</h2>
            </div>
            
            <RadzenDropDown @bind-Value=@_selectedOption Data=@_segments class="my-4" Style="width: 100%; max-width: 400px;"/>

            <div class="mt-8">
                @if (_selectedOption == DataTypes.Students.ToString())
                {
                    <StudentDataGrid />
                }

                @if (_selectedOption == DataTypes.CommunityPartners.ToString())
                {
                    <CommunityPartnerDataGrid />
                }

                @if (_selectedOption == DataTypes.CommunityPartnerContacts.ToString())
                {
                    <CommunityPartnerContactView />
                }
            </div>
        </section>
    </Authorized>
    <NotAuthorized>
        <h1 class="text-2xl leading-loose">Please Log in to access this page</h1>
    </NotAuthorized>
</AuthorizeView>


    @code {
        private IEnumerable<string> _segments = new List<string>() {
            DataTypes.Students.ToString(), 
            DataTypes.CommunityPartners.ToString(),
            DataTypes.CommunityPartnerContacts.ToString()
        };
        
        private string _selectedOption = DataTypes.Students.ToString();
    }
