<!-- Tooltip.razor -->

<div class="tooltip-container">
    <div class="tooltip-content text-xs" @onmouseover="ShowTooltip" @onmouseout="HideTooltip">@ChildContent</div>
    <div class="tooltip-text" style="@style">@TooltipText</div>
</div>

@code {
    private bool isTooltipVisible = false;

    private string style => isTooltipVisible ? "visibility: visible; opacity: 1;" : "visibility: hidden; opacity: 0;";

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string TooltipText { get; set; } = "Default Tooltip Text";

    private void ShowTooltip()
    {
        isTooltipVisible = true;
    }

    private void HideTooltip()
    {
        isTooltipVisible = false;
    }
}