<div class="modal h-screen items-center bg-slate-900/50" tabindex="-1" style="@(_isVisible ? "display: flex;" : "display: none;")">
  <div class="modal-dialog max-w-full">
    <div class="modal-content">
      <div class="modal-body">
        @ChildContent
      </div>
    </div>
  </div>
</div>

@code {
    private bool _isVisible = false;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public void ShowModal()
    {
        _isVisible = true;
        StateHasChanged(); // Trigger a re-render
    }

    public void CloseModal()
    {
        _isVisible = false;
        StateHasChanged(); // Trigger a re-render
    }
}