@page "/coming-soon"
@inherits BasePage

<PageTitle>Entitled Tooling | Coming Soon</PageTitle>

<div class="container mx-auto mt-10 sm:mt-0 flex flex-col justify-center items-center">
  <h1 class="text-center text-6xl leading-relaxed text-blue-100">Coming Soon</h1>
</div>

@code {

}