@page "/"
@inherits BasePage

@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager

<PageTitle>Entitled Learning | Enrollment Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="fixed w-full">
            <div class="mx-auto max-w-7xl w-full px-4 sm:px-6 lg:px-8">
                <div class="py-5 w-full">
                    <h1 class="text-3xl tracking-tighter mb-3 lg:text-3xl">Hi, @_currentUser.FirstName @_currentUser.LastName</h1>
                </div>
                <div class="w-full">
                    <UserProfile />
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>

@code {
    private EntitledLearningUser _currentUser = new EntitledLearningUser();

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        if (authenticationState?.User != null)
        {
            _currentUser.SetClaims(authenticationState.User.Claims);
        }
    }
}