.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr)); */
  }
  
.grid > div {
height: 100px;
}

.personal-details > * + * {
    border-right-width: 0px;
    border-left-width: 2px;
    padding: 0 1.125rem;
}

::deep .action-buttons button {
    margin-left: 1.125rem !important;
}