<AuthorizeView>
    <Authorized>
        <p class="mr-2 text-white">Hello, @context.User.Identity?.Name!</p>
        <a class="" href="MicrosoftIdentity/Account/SignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a class="text-sm text-white" href="MicrosoftIdentity/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>
