@inject AuthenticationStateProvider AuthenticationStateProvider;

<div class="flex">
    <div class="flex flex-col w-full xl:w-1/3 xl:mr-4">
        <div class="border-1 p-3">Personal Information</div>
        <div class="border-1 p-3">
            <div class="row-title">Contact Number</div>
            <div class="row-data">769-798-8279</div>
        </div>
        <div class="border-1 p-3">
            <div class="row-title">Email Adderess</div>
            <div class="row-data">tope.daram@gmail.com</div>
        </div>
        <div class="border-1 p-3">
            <div class="row-title">Mailing Address</div>
            <div class="row-data">1541 Tavistock Rd. Forney, TX 75126</div>
        </div>
    </div>
    <div class="flex flex-col w-full xl:w-2/3">
        <div class="border-1 p-3">Student Information</div>
        <div class="border-1 p-3">
            <div class="row-title">Contact Number</div>
            <div class="row-data">769-798-8279</div>
        </div>

    </div>
</div>


@code {
    private EntitledLearningUser currentUser = new EntitledLearningUser();

    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        if (authenticationState?.User != null)
        {
            currentUser.SetClaims(authenticationState.User.Claims);
        }
    }
}

