.drawer {
  height: 100%;
  width: 320px;
  background: rgba(60, 60, 60, 1);
  position: fixed !important;
  z-index: 999;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.drawer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: transparent;
  width: 100%;
  background: transparent; /* (37, 50, 125, 1); */
}

.drawer-icon {
  color: rgb(227, 227, 227);
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.drawer-ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 66px);
  padding: 12px 8px !important;
}

.drawer li {
  width: 100%;
}

.drawer-ul hr {
  margin: 20px 0;
  color: white;
}

.drawer-ul .sidebar-icon {
  margin-right: 15px;
}

.drawer-ul li > a {
  display: flex;
  align-items: center;
}

.drawer-ul li > a,
.drawer-ul li > a > i {
  height: 40px;
  line-height: 40px;
}
.drawer-ul li > a > i {
  margin-right: 24px;
}
.drawer-ul li > a {
  padding: 0 16px;
  font-weight: normal;
  color: rgb(227, 227, 227);
}
.drawer-ul li > a:hover {
  border-radius: 2px;
  background: rgba(125, 125, 125, 0.1);
}